# Used in production (Vercel) for Keystatic GitHub mode
PUBLIC_KEYSTATIC_GITHUB_REPO=wandinbaptistchurch/wandinbaptistchurch.github.io

# Generated when you connect Keystatic to GitHub (local or Cloud)
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=
